#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
/_DAO/bin/
/_DAO/obj/
/_Model/bin/
/_Model/obj/
/_Rules/bin/
/_Rules/obj/
/UI_Internet/bin/
/UI_Internet/obj/
/WS_Internet/bin/
/WS_Internet/obj/
/WS_Intranet/bin/
/WS_Intranet/obj/

/AutosAlquilerConChofer.v12.suo

/AutosAlquilerConChofer.suo

/AutosAlquilerConChofer.sln
/WS_Intranet/Properties/PublishProfiles
/WS_Internet/Properties/PublishProfiles

