<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DEPLOY" value="true" />

    <!-- CORS -->
    <add key="CORS_ORIGINS" value="*" />
    <add key="CORS_HEADERS" value="*" />
    <add key="CORS_METHODS" value="*" />
    
    <!-- Vecino Virtual -->
    <add key="URL_WS_VECINO_VIRTUAL" value="https://srv-app04.cordoba.local/WSVecinoVirtual" />
    <add key="URL_WS_VECINO_VIRTUAL_TEST" value="https://srv-dev04.cordoba.local/WSVecinoVirtual" />

    <!-- Cordoba Geo -->
    <add key="URL_CORDOBA_GEO_API" value="https://srv-app04.cordoba.local/CordobaGeoApi" />

    <!-- Cordoba Files -->
    <add key="API_KEY_CORDOBA_FILES" value="TurneroOnline_ApiKey_KUIOAUSNABNiuasd!3123ddaq!" />
    <add key="URL_WS_CORDOBA_FILES" value="https://srv-app04.cordoba.local/CordobaFilesApi" />
    <add key="URL_CORDOBA_FILES" value="https://srv-app04.cordoba.local/CordobaFiles" />
    <add key="IDENTIFICADOR_FOTO_USUARIO_MUJER" value="f_zq38nzky73iwxm6fz4m812vx68ggr28xgokqfwx7zf9ws7rd6_s7mn985gcqtehf6vpicq_chqiv3_e9rdlsjal4pmw_uhnu9318riap_p07eoe5cd_q4z65kw304ataczwaihsic6t4lo0bh18qi81k86x6qlv_7z5q2ew6w1n8gbu772sdcd3e8mcnuw31ku8wtkkd" />
    <add key="IDENTIFICADOR_FOTO_USUARIO_HOMBRE" value="f_qdag0f9irgka9xj2l6mbll69gxmhlghezkmkj2mykg1pj0uuhwogqiqfic_c327l9gmyk9tutz1fuq0rc3_z2byq5gcg2j5tjpqcn6jid4x2rlv2nsaa2it7s64d7m2k4h7e_xegt2w8p79uvk4jj42a7uvrcfm1cn8jpq31o4raxvsv8ktwtsa_q6iqbxeop56c_zee" />
  </appSettings>

  <connectionStrings>
    <!-- DB Produccion -->
    <add name="DB" connectionString="Data Source=SRV-SQL04\SQLMUNI04;Initial Catalog=AutoAlquilerConChofer;Persist Security Info=True;User ID=usrTaxiPermisionario;Password=achiGuandote.20!9" />
    <!-- DB Test -->
    <add name="DB_TEST" connectionString="Data Source=SRV-SQL16-TEST\SQL16TEST;Initial Catalog=AutoAlquilerConChofer;Persist Security Info=True;User ID=usrTaxiPermisionario;Password=achiGuandote.20!9" />
  </connectionStrings>

  <system.net>
    <!-- Mail-->
    <mailSettings>
      <smtp from="noresponder@cordoba.gov.ar">
        <network host="172.16.39.15" port="25" />
      </smtp>
    </mailSettings>

    <!--Proxy-->
    <defaultProxy useDefaultCredentials="true">
      <proxy usesystemdefault="False" bypassonlocal="True" proxyaddress="http://172.16.39.10:8080" />
    </defaultProxy>
  </system.net>

  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>